<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <title>Users</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/resource-page.js"></script>
</head>

<body>
  <h1>Resources</h1>
  <button id="fetch-resource">Fetch resources of user</button>
  <ul id="resource-post"></ul>
</body>

</html> -->

<!DOCTYPE html>


<html lang="en">

<head>
  <title><%= resource.title %></title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/resources.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />


  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js" integrity="sha512-SVDh1zH5N9ChofSlNAK43lcNS7lWze6DTVx1JCXH1Tmno+0/1jMpdbR8YDgDUfcUrPp1xyE53G42GFrcM0CMVg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script defer src="/scripts/resource-comments.js"></script>
  <script src="/scripts/likeRate.js"></script>

</head>
<body>
  <%- include('partials/_nav') %>
  <div id="dropdown"></div>
  <main id="main-container">

    <section class="resource-container">
      <article class="resource-listing">
        <section class="resource-preview-image">
          <img src="<%= resource.img_url %>">
        </section>
        <section class="resource-details">
          <header>
            <a class="resource-link" href="<%= resource.resource_url %>">Click here to go to link!</a>
            <div class="resource-rating"><%= resource.avg_rating %>/5</div>
          </header>
          <h3 class="resource-title"><a href="/egg/<%= resource.id %>"><%= resource.title %></a></h3>
          <div class="resource-description"><%= resource.description %></div>
          <footer>
            <div id="icons">
              <span><%= resource.total_likes %><i class="fa-solid fa-heart"></i></span>
            </div>
            <div class="resource-tag-container" id="<%= resource.id %>">
            </div>
          </footer>
        </section>
      </article>
    </section>

    <section class="new-comment">
      <div class="text-error">
        <!-- Text box for creating a new tweet form-->
      </div>
      <form action="/egg/<%= resource.id %>/comment-submit" method="POST" id="new-comment-form">
        <textarea name="text" id="comment-post-text"></textarea>
        <div class="new-comment-footer">
          <button id="comment-submit-button" type="submit">Comment</button>
        </div>
      </form>
    </section>

    <section id="comments-container"></section>
  </main>


</body>

</html>
